<ul class="tiled-cta {{customClass}}">
	<li>
		<div class="tiled-cta-inner">
			<div class="tiled-cta-flip">
				<div class="inner">
					<img class="front" src="/images/{appname}/icon-cart.png"/>
					<img class="back" src="/images/{appname}/icon-cart.png"/>
				</div>
			</div>
			<h3>{{copy.tiled-cta-1}}</h3>
			<div class="border"></div>
		</div>
		<div class="tiled-cta-hover hidden">
			<h3>{{copy.tiled-cta-1-overlay}}</h3>
			<h3>{{copy.click-here}}</h3>
		</div>
	</li>
	<li>
		<div class="tiled-cta-inner">
			<div class="tiled-cta-flip">
				<div class="inner">
					<img class="front" src="/images/{appname}/icon-star.png"/>
					<img class="back" src="/images/{appname}/icon-star.png"/>
				</div>
			</div>
			<h3>{{copy.tiled-cta-2}}</h3>
			<div class="border"></div>
		</div>
		<div class="tiled-cta-hover hidden">
			<h3>{{copy.tiled-cta-2-overlay}}</h3>
			<h3>{{copy.click-here}}</h3>
		</div>
	</li>
	<li>
		<div class="tiled-cta-inner">
			<div class="tiled-cta-flip">
				<div class="inner">
					<img class="front" src="/images/{appname}/icon-mag.png"/>
					<img class="back" src="/images/{appname}/icon-mag.png"/>
				</div>
			</div>
			<h3>{{copy.tiled-cta-3}}</h3>
			<div class="border"></div>
		</div>
		<div class="tiled-cta-hover hidden">
			<h3>{{copy.tiled-cta-3-overlay}}</h3>
			<h3>{{copy.click-here}}</h3>
		</div>
	</li>
</ul>
